@model Du_An_One.Models.CHITIETNHAP

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CHITIETNHAP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhaCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhaCC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaNhap)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaChiTietNhap">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
