@model Du_An_One.Models.SANPHAM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMucHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhMucHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KichCo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KichCo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhuyenMai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhuyenMai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNV)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSP" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
