@model IEnumerable<Du_An_One.Models.NHACUNGCAP>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNhaCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDaiDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianCungCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhaCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDaiDien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianCungCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNhaCC">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNhaCC">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNhaCC">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="page-inner">



<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Nhà cung cấp</h1>
</div>
<div class="row">

    <div class="col-md-9">

        <a class="btn btn-primary" href="NHACUNGCAPs/Create">Thêm nhà cung cấp</a>
        <div class="row">

            <div class="col-sm-12" style="margin:20px 0 0 0; ">
                <input type="text" id="searchInput" class="form-control mb-3" placeholder="Tìm kiếm">
            </div>
        </div>

        <table class="table table-bordered table-hover" style="width:135%;">
            <thead>
                <tr style="font-size:.9em">
                    <th class="text-center" style="width:auto">Mã nhà cung cấp</th>
                    <th class="text-center" style="width:auto">Tên nhà cung cấp</th>

                    <th class="text-center" style="width:auto">Địa chỉ</th>
                    <th class="text-center" style="width:auto">Email</th>
                    <th class="text-center" style="width:auto">SDT</th>

                    <th class="text-center" style="width:auto">Thời gian cung cấp</th>
                    <th class="text-center" style="width:auto">Tình trạng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var nhacc in Model)
                {
                    <tr style="font-size:.9em">
                        <td name="DisplayMaNhaCungCap">@nhacc.MaNhaCC</td>
                        <td>@nhacc.TenNhaCC</td>

                        <td>@nhacc.DiaChi</td>
                        <td>@nhacc.Email</td>
                        <td>@nhacc.SDT</td>
                        <td>@nhacc.ThoiGianCungCap.ToShortDateString()</td>
                        <td>@nhacc.TinhTrang</td>


                        <!-- Sửa -->

                        <td><a type="button" class="btn btn-primary editButton"  asp-action="Edit" asp-route-id="@nhacc.MaNhaCC"><i class="bi bi-pencil"></i></a></td>

                        <!-- Xóa -->
                         <td>
                            <a type="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@nhacc.MaNhaCC">Delete</a>
                         </td>
        


                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</div>