@model IEnumerable<Du_An_One.Models.HOADON>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiNhanHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTTT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKH)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiNhanHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HTTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHoaDon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHoaDon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHoaDon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="page-inner">



<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Hóa đơn</h1>
</div>
<div class="row">

    <div class="col-md-9">

        <a class="btn btn-primary" href="HOADONS/Create">Thêm hóa đơn</a>
        <div class="row">

            <div class="col-sm-12" style="margin:20px 0 0 0; ">
                <input type="text" id="searchInput" class="form-control mb-3" placeholder="Tìm kiếm">
            </div>
        </div>

        <table class="table table-bordered table-hover" style="width:135%;">
            <thead>
                <tr style="font-size:.9em">
                    <th class="text-center" style="width:auto">Mã HĐ</th>
                    <th class="text-center" style="width:auto">Địa chỉ nhận hàng</th>

                    <th class="text-center" style="width:auto">Ngày tạo</th>
                    <th class="text-center" style="width:auto">HTTT</th>
                    <th class="text-center" style="width:auto">Tình trạng</th>

                    <th class="text-center" style="width:auto">Thu ngân</th>
                    <th class="text-center" style="width:auto">Sở hữu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hoadon in Model)
                {
                    <tr style="font-size:.9em">
                        <td name="DisplayMaNhanVien">@hoadon.MaHoaDon</td>
                        <td>@hoadon.DiaChiNhanHang</td>

                        <td>@hoadon.NgayTao.ToShortDateString()</td>
                        <td>@hoadon.HTTT</td>
                        <td>@hoadon.TinhTrang</td>
                        <td>@hoadon.MaNV</td>
                        <td>@hoadon.MaKH</td>
                        <!-- Sửa -->

                        <td><a type="button" class="btn btn-primary editButton"  asp-action="Edit" asp-route-id="@hoadon.MaHoaDon"><i class="bi bi-pencil"></i></a></td>

                        <!-- Xóa -->
                         <td>
                                <a type="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@hoadon.MaHoaDon">Delete</a>
                         </td>
        


                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</div>